body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 1fr 650px 1fr;
    grid-template-areas: 
    ". . ."
    ". container ."
    ". . .";
}

#container {
    border: solid 2px;
    grid-area: container;
    display: grid;
}

#display {
    width: 100%;
    height: 100px;
    text-align: right;
    font-size: 40px;
    border-bottom: solid 2px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    align-items: center;
}

#keypad {
    display: grid;
    grid-template-columns: 200px 60px;
    grid-template-areas: 
    "digit operators";
}

#digits {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    grid-area: digit;
}

#operators {
    display: grid;
    grid-template-rows: 50px 50px 50px 50px;
    grid-area: operators;
}
